USE [DBSS]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[CarID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[MasterID] [int] NOT NULL,
	[Date] [date] NULL,
	[FinalDate] [date] NULL,
	[Payment] [bit] NULL,
	[Acceptence] [bit] NULL,
	[Readiness] [bit] NULL,
	[Closeness] [bit] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarOwners]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarOwners](
	[FullName] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Address] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Phone] [nvarchar](11) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CarOwners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarBrand] [int] NOT NULL,
	[CarOwner] [int] NOT NULL,
	[Mileage] [int] NULL,
	[Condition] [nvarchar](30) COLLATE Cyrillic_General_CI_AS NULL,
	[Color] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[SteeringLocation] [nvarchar](15) COLLATE Cyrillic_General_CI_AS NULL,
	[Type] [nvarchar](30) COLLATE Cyrillic_General_CI_AS NULL,
	[BrandOwner] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA](
	[MasterID] [int] NOT NULL,
	[Login] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Password] [nvarchar](64) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_DATA] PRIMARY KEY CLUSTERED 
(
	[MasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Brand] [nvarchar](60) COLLATE Cyrillic_General_CI_AS NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masters]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masters](
	[FullName] [nvarchar](30) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Qualification] [nvarchar](12) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Phone] [nvarchar](11) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Address] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Birth] [date] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Masters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Name] [nvarchar](30) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Cost] [money] NOT NULL,
	[Duration] [int] NOT NULL,
	[Complexity] [nvarchar](10) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([CarID], [ServiceID], [MasterID], [Date], [FinalDate], [Payment], [Acceptence], [Readiness], [Closeness], [ID]) VALUES (1, 1, 1, CAST(N'2005-01-06' AS Date), CAST(N'2005-01-23' AS Date), 1, 1, 1, 1, 1)
INSERT [dbo].[Applications] ([CarID], [ServiceID], [MasterID], [Date], [FinalDate], [Payment], [Acceptence], [Readiness], [Closeness], [ID]) VALUES (122, 17, 4, CAST(N'2005-01-10' AS Date), CAST(N'2005-01-24' AS Date), 1, 1, 1, 1, 2)
INSERT [dbo].[Applications] ([CarID], [ServiceID], [MasterID], [Date], [FinalDate], [Payment], [Acceptence], [Readiness], [Closeness], [ID]) VALUES (99, 90, 16, CAST(N'2005-01-18' AS Date), CAST(N'2005-01-20' AS Date), 1, 1, 1, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Applications] OFF
SET IDENTITY_INSERT [dbo].[CarOwners] ON 

INSERT [dbo].[CarOwners] ([FullName], [Address], [Phone], [ID]) VALUES (N'Устинова Нелли Демьянова', N'Школьная ул., д. 233, кв. 20', N'89159585287', 1)
INSERT [dbo].[CarOwners] ([FullName], [Address], [Phone], [ID]) VALUES (N'Крылова Неонила Федоровна', N'Кирова ул., д. 106, кв. 38', N'89966673528', 2)
INSERT [dbo].[CarOwners] ([FullName], [Address], [Phone], [ID]) VALUES (N'Зайцев Гавриил Всеволодович', N'Красная ул., д. 198/3, кв. 8', N'89094544968', 3)
GO
SET IDENTITY_INSERT [dbo].[CarOwners] OFF
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarBrand], [CarOwner], [Mileage], [Condition], [Color], [SteeringLocation], [Type], [BrandOwner], [ID]) VALUES (979, 1, 404678, N'Bad', N'Тёмно-красный', N'Right', N'Crossover', N'Mazda Premacy | Устинова Нелли Демьянова', 1)
INSERT [dbo].[Cars] ([CarBrand], [CarOwner], [Mileage], [Condition], [Color], [SteeringLocation], [Type], [BrandOwner], [ID]) VALUES (186, 71, 683810, N'Great', N'Серебристо-сиреневый', N'Left', N'Crossover', N'Renault Fluence | Быков Эдуард Миронович', 2)
INSERT [dbo].[Cars] ([CarBrand], [CarOwner], [Mileage], [Condition], [Color], [SteeringLocation], [Type], [BrandOwner], [ID]) VALUES (220, 61, 218221, N'Normal', N'Серебристый сине-зелёный', N'Right', N'Limousine', N'Peugeot 508 | Петров Сергей Наумович', 3)
GO
SET IDENTITY_INSERT [dbo].[Cars] OFF
INSERT [dbo].[DATA] ([MasterID], [Login], [Password]) VALUES (1, N'Frank A. Jassoni', N'C33B8A9101337DEFD8D66683AD2A4E50BC1D53598DBF4B85B261E113FECA90E0')
INSERT [dbo].[DATA] ([MasterID], [Login], [Password]) VALUES (2, N'TrueApple524', N'931ACEE23AC33BD3C0F9F4D0DF6CF564D49194C1E79CB3ED79B4A2314C3D091E')
INSERT [dbo].[DATA] ([MasterID], [Login], [Password]) VALUES (3, N'TallWind942', N'DD3C3C484B5E23EA792A410660B93D7C477A5CFBA0EE04AE5CE8489E3EBDA6B0')
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Brand], [ID]) VALUES (N'Acura RL', 1)
INSERT [dbo].[Manufacturers] ([Brand], [ID]) VALUES (N'Acura RLX', 2)
INSERT [dbo].[Manufacturers] ([Brand], [ID]) VALUES (N'Acura RSX', 3)
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
SET IDENTITY_INSERT [dbo].[Masters] ON 

INSERT [dbo].[Masters] ([FullName], [Qualification], [Phone], [Address], [Birth], [ID]) VALUES (N'Ivor T. Koch', N'5 сategory', N'89458275933', N'Совхозная ул., д. 15, кв. 3', CAST(N'1970-08-26' AS Date), 1)
INSERT [dbo].[Masters] ([FullName], [Qualification], [Phone], [Address], [Birth], [ID]) VALUES (N'Kelsey B. Wells', N'1 сategory', N'89667006029', N'Кольцевая ул., д. 42, кв. 54', CAST(N'1986-04-12' AS Date), 2)
INSERT [dbo].[Masters] ([FullName], [Qualification], [Phone], [Address], [Birth], [ID]) VALUES (N'Kane R. Burgess', N'2 сategory', N'89969839059', N'Станционная ул., д. 35, кв. 23', CAST(N'1979-05-08' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Masters] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Name], [Cost], [Duration], [Complexity], [ID]) VALUES (N'Замена ремня ГРМ', 3000.0000, 4, N'Medium', 1)
INSERT [dbo].[Services] ([Name], [Cost], [Duration], [Complexity], [ID]) VALUES (N'Тонировка лобового стекла', 2600.0000, 1, N'Low', 2)
INSERT [dbo].[Services] ([Name], [Cost], [Duration], [Complexity], [ID]) VALUES (N'Чистка двигателя с разбором', 8000.0000, 5, N'High Level', 3)
GO
SET IDENTITY_INSERT [dbo].[Services] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DATA]    Script Date: 11.04.2020 20:11:07 ******/
ALTER TABLE [dbo].[DATA] ADD  CONSTRAINT [IX_DATA] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Masters__89C60F11A8728925]    Script Date: 11.04.2020 20:11:07 ******/
ALTER TABLE [dbo].[Masters] ADD  CONSTRAINT [UQ__Masters__89C60F11A8728925] UNIQUE NONCLUSTERED 
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicatio__Date__4316F928]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Payme__440B1D61]  DEFAULT ((0)) FOR [Payment]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Accep__44FF419A]  DEFAULT ((0)) FOR [Acceptence]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Readi__45F365D3]  DEFAULT ((0)) FOR [Readiness]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF__Applicati__Close__46E78A0C]  DEFAULT ((0)) FOR [Closeness]
GO
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [DF__Cars__SteeringLo__47DBAE45]  DEFAULT ('Left') FOR [SteeringLocation]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_App_CarInfo] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([ID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_App_CarInfo]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_App_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_App_Service]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Appl_Master] FOREIGN KEY([MasterID])
REFERENCES [dbo].[Masters] ([ID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Appl_Master]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Brand] FOREIGN KEY([CarBrand])
REFERENCES [dbo].[Manufacturers] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Brand]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Owner] FOREIGN KEY([CarOwner])
REFERENCES [dbo].[CarOwners] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Owner]
GO
ALTER TABLE [dbo].[DATA]  WITH CHECK ADD  CONSTRAINT [FK_Data_Master] FOREIGN KEY([MasterID])
REFERENCES [dbo].[Masters] ([ID])
GO
ALTER TABLE [dbo].[DATA] CHECK CONSTRAINT [FK_Data_Master]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CHECK_FINALDATE] CHECK  (([FinalDate]<dateadd(day,(30),[Date])))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CHECK_FINALDATE]
GO
ALTER TABLE [dbo].[CarOwners]  WITH CHECK ADD  CONSTRAINT [CK_PhoneNumber] CHECK  (([Phone] like '[7-8]9[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[CarOwners] CHECK CONSTRAINT [CK_PhoneNumber]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__Condition__693CA210] CHECK  (([Condition]='Dead' OR [Condition]='Bad' OR [Condition]='Normal' OR [Condition]='Good' OR [Condition]='Great'))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__Condition__693CA210]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__Mileage__00200768] CHECK  (([Mileage]>=(0) AND [Mileage]<=(1000000)))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__Mileage__00200768]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__SteeringLo__6A30C649] CHECK  (([SteeringLocation]='Right' OR [SteeringLocation]='Left'))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__SteeringLo__6A30C649]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK__Cars__Type__6B24EA82] CHECK  (([Type]='Limousine' OR [Type]='Pickup' OR [Type]='Minivan' OR [Type]='Minibus' OR [Type]='Wagon' OR [Type]='Coupe' OR [Type]='Cabriolet' OR [Type]='Crossover' OR [Type]='SUV' OR [Type]='Hatchback' OR [Type]='Sedan'))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK__Cars__Type__6B24EA82]
GO
ALTER TABLE [dbo].[DATA]  WITH CHECK ADD  CONSTRAINT [CHCK_LOGIN] CHECK  (([Login] like '%____%'))
GO
ALTER TABLE [dbo].[DATA] CHECK CONSTRAINT [CHCK_LOGIN]
GO
ALTER TABLE [dbo].[DATA]  WITH CHECK ADD  CONSTRAINT [CHECK_PASS] CHECK  (([Password] like '%______%'))
GO
ALTER TABLE [dbo].[DATA] CHECK CONSTRAINT [CHECK_PASS]
GO
ALTER TABLE [dbo].[Manufacturers]  WITH CHECK ADD  CONSTRAINT [CK_Manufacturers] CHECK  (([Brand] like '% %'))
GO
ALTER TABLE [dbo].[Manufacturers] CHECK CONSTRAINT [CK_Manufacturers]
GO
ALTER TABLE [dbo].[Masters]  WITH CHECK ADD  CONSTRAINT [CHCK_QUAL] CHECK  (([Qualification]='CEO' OR [Qualification]='6 сategory' OR [Qualification]='5 сategory' OR [Qualification]='4 сategory' OR [Qualification]='3 сategory' OR [Qualification]='2 сategory' OR [Qualification]='1 сategory' OR [Qualification]='DB Admin'))
GO
ALTER TABLE [dbo].[Masters] CHECK CONSTRAINT [CHCK_QUAL]
GO
ALTER TABLE [dbo].[Masters]  WITH CHECK ADD  CONSTRAINT [CHECK_NUMBER2] CHECK  (([Phone] like '[7-8]9[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Masters] CHECK CONSTRAINT [CHECK_NUMBER2]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CHECK_COMPLEXITY] CHECK  (([Complexity]='High Level' OR [Complexity]='Medium' OR [Complexity]='Low'))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CHECK_COMPLEXITY]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CHECK_DURATION] CHECK  (([Duration]>=(1) AND [Duration]<=(20)))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CHECK_DURATION]
GO
/****** Object:  StoredProcedure [dbo].[crtView]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Artyom Valerevich M.
-- Create date: 02.06.2019
-- Description:	This procedure for create view 
--				of P.A.R.C. report
-- =============================================
CREATE PROCEDURE [dbo].[crtView] 
	-- Add the parameters for the stored procedure here
	@masterID int = null
AS
BEGIN
	-- =======================================================
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- =======================================================
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DROP TABLE IF EXISTS dbo.parcTable

	-- Declaration of variables that store field names and their values
	DECLARE @payApp INT, @acceptApp INT
	DECLARE	@readyApp INT, @closeApp INT
	DECLARE @pRow NVARCHAR(30), @aRow NVARCHAR(30)
	DECLARE @rRow NVARCHAR(30), @cRow NVARCHAR(30)

	-- Filling variables
	SET @pRow = 'Paid applications'
	SET @aRow = 'Accepted applications'
	SET @rRow = 'Ready applications'
	SET @cRow = 'Closed applications'
	SET @payApp = (SELECT COUNT(Payment) FROM Applications WHERE MasterID=@masterID AND Payment=1)
	SET @acceptApp = (SELECT COUNT(Acceptence) FROM Applications WHERE MasterID=@masterID AND Acceptence=1)
	SET @readyApp = (SELECT COUNT(Readiness) FROM Applications WHERE MasterID=@masterID AND Readiness=1)
	SET @closeApp = (SELECT COUNT(Closeness) FROM Applications WHERE MasterID=@masterID AND Closeness=1)

	-- Create temporary table to dislplay result
	CREATE TABLE dbo.parcView(
		[Sign of] NVARCHAR(30) NOT NULL,
		[Count] INT NOT NULL
	)

	-- Filling temporary table
	INSERT INTO dbo.parcView([Sign of],[Count]) VALUES (@pRow, @payApp)
	INSERT INTO dbo.parcView([Sign of],[Count]) VALUES (@aRow, @acceptApp)
	INSERT INTO dbo.parcView([Sign of],[Count]) VALUES (@rRow, @readyApp)
	INSERT INTO dbo.parcView([Sign of],[Count]) VALUES (@cRow, @closeApp)

	-- Display result
	SELECT * FROM dbo.parcView

	-- Delete temporary table
	DROP TABLE IF EXISTS dbo.parcView
END
GO
/****** Object:  Trigger [dbo].[OwnerBrandUpdate]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[OwnerBrandUpdate] on [dbo].[Cars]
	after insert, update
	as 
	declare @brID int, @owID int, @enID int
	declare @brand nvarchar(100), @owner nvarchar(100), @brandowner nvarchar(200)
	set @enID = (select id from inserted)
	set @brID = (select CarBrand from Cars where ID = @enID)
	set @owID = (select CarOwner from Cars where ID = @enID)
	set @brand = (select Manufacturers.Brand from Manufacturers where ID = @brID)
	set @owner = (select CarOwners.FullName from CarOwners where ID = @owID)
	set @brandowner = CONCAT(@brand,' | ',@owner)
	UPDATE Cars
	set BrandOwner = @brandowner where Cars.ID = @enID
GO
ALTER TABLE [dbo].[Cars] ENABLE TRIGGER [OwnerBrandUpdate]
GO
/****** Object:  Trigger [dbo].[ComputePassword1]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Artyom Valerevich M.
-- Create date: 03.06.2019
-- Description:	Computing password hash after
--	insert or update
-- =============================================
CREATE TRIGGER [dbo].[ComputePassword1] 
   ON  [dbo].[DATA] 
   INSTEAD OF UPDATE
AS 
BEGIN
	IF (@@ROWCOUNT = 0) RETURN;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DECLARE @hash NVARCHAR(64);
	DECLARE @pass NVARCHAR(64);
	DECLARE @temp NVARCHAR(64);
	DECLARE @id INT;

	SET @temp = (SELECT [Password] FROM inserted);
	
	IF(LEN(@temp)<6) RETURN;

	SET @id = (SELECT [MasterID] FROM inserted);
	SET @pass = REPLACE(CONCAT(N'1t$_Am@31ng', @temp, N'y0UrL0g1№'),CHAR(32),'');
	SET @hash = TRIM(CONVERT(NVARCHAR(64), HASHBYTES('SHA2_256', @pass), 2));
	
	IF (UPDATE ([Password]))
	BEGIN
		UPDATE [dbo].[DATA]
		SET [DATA].[Password] = @hash,
		[DATA].[Login] = [inserted].[Login]
		FROM [inserted]
		WHERE [DATA].[MasterID] = [inserted].[MasterID];
	END
	ELSE
	BEGIN
		UPDATE [dbo].[DATA]
		SET [DATA].[Login] = [inserted].[Login]
		FROM [inserted]
		WHERE [DATA].[MasterID] = [inserted].[MasterID];
	END
END
GO
ALTER TABLE [dbo].[DATA] ENABLE TRIGGER [ComputePassword1]
GO
/****** Object:  Trigger [dbo].[ComputePassword2]    Script Date: 11.04.2020 20:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Artyom Valerevich M.
-- Create date: 03.06.2019
-- Description:	Computing password hash after
--	insert or update
-- =============================================
CREATE TRIGGER [dbo].[ComputePassword2] 
   ON  [dbo].[DATA] 
   INSTEAD OF INSERT
AS 
BEGIN
	IF(@@ROWCOUNT = 0) RETURN;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DECLARE @hash NVARCHAR(64)
	DECLARE @pass NVARCHAR(64)
	DECLARE @temp NVARCHAR(64)

	SET @temp = (SELECT [Password] FROM inserted)
	SET @pass = REPLACE(CONCAT(N'1t$_Am@31ng', @temp, N'y0UrL0g1№'),CHAR(32),'');
	SET @hash = TRIM(CONVERT(NVARCHAR(64), HASHBYTES('SHA2_256', @pass), 2));

	INSERT INTO [dbo].[DATA]([Login],[Password],[MasterID])
	VALUES (
		(SELECT [Login] FROM inserted),
		@hash,
		(SELECT [MasterID] FROM inserted)
	)
END
GO
ALTER TABLE [dbo].[DATA] ENABLE TRIGGER [ComputePassword2]
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_id', @value=N'57845286-7598-22F5-9659-15B24AEB125E' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_name', @value=N'Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_id', @value=N'989ADC05-3F3F-0588-A635-F475B994915B' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_name', @value=N'Confidential - GDPR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_id', @value=N'9C5B4809-0CCC-0637-6547-91A6F8BB609D' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'Qualification'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_name', @value=N'Other' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'Qualification'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_id', @value=N'331F0B13-76B5-2F1B-A77B-DEF5A73C73C2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'Qualification'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_name', @value=N'Confidential' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Masters', @level2type=N'COLUMN',@level2name=N'Qualification'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_id', @value=N'57845286-7598-22F5-9659-15B24AEB125E' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_name', @value=N'Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_id', @value=N'1866ca45-1973-4c28-9d12-04d407f147ad' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_name', @value=N'Public' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_id', @value=N'C44193E1-0E58-4B2A-9001-F7D6E7BC1373' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_name', @value=N'Financial' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_id', @value=N'1866ca45-1973-4c28-9d12-04d407f147ad' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_name', @value=N'Public' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Cost'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_id', @value=N'9C5B4809-0CCC-0637-6547-91A6F8BB609D' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Duration'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_information_type_name', @value=N'Other' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Duration'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_id', @value=N'684a0db2-d514-49d8-8c0c-df84a7b083eb' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Duration'
GO
EXEC sys.sp_addextendedproperty @name=N'sys_sensitivity_label_name', @value=N'General' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Services', @level2type=N'COLUMN',@level2name=N'Duration'
GO
USE [master]
GO
